[rewrite_local] 

^http(s)?:\/\/.*\.pangolin-sdk-toutiao\.com\/.* url reject

^http(s)?:\/\/.*\.pglstatp-toutiao\.com\/.* url reject

^http(s)?:\/\/.*\.pangolin-sdk-toutiao-b\.com\/.* url reject

[mitm]

hostname = *.pangolin-sdk-toutiao.com, *.pglstatp-toutiao.com, *.pangolin-sdk-toutiao-b.com
